body,
html {
  background-color: #1e1e1e;
  /* Dark background */
  color: #E0E0E0;
  /* Light text */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-top {
  background-color: #333333;
  /* Darker shade for navbar */
  color: #ffffff;
  /* White text */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content,
.side-panel {
  background-color: #1e1e1e;
  /* Dark background for content areas */
  color: #ffffff;
  /* White text */
}

.side-panel {
  background-color: #2a2a2a;
  /* Slightly different shade for panel */
  padding: 10px;
  overflow-y: auto;
  /* Scrollable */
  box-shadow: -2px 0 4px #000000;
  /* Subtle shadow for depth */
}

.sensor-data-section,
.console {
  background-color: #252525;
  /* Container backgrounds */
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.console {
  margin-top: auto;
  height: 130px;
  overflow-y: auto;
  font-family: monospace;
  width: 97%;
}

.main-content {
  flex: 2;
  /* Takes 2/3 of the space */
  padding: 10px;
}

/* Style adjustments for buttons, tables, etc., can follow from here */
/* Ensure button, tab, table, and other component styles are correctly applied */

/* Ensure tab content visibility */
.tab-content {
  display: none;
}

.tab-content.active-tab-content {
  display: block;
  /* For contrast */
  padding: 0px;
  margin-top: 0px;
}

.logo {
  height: 25px;
  padding: 5px;
  /* Adjust the size of the logo as needed */
}

button {
  background-color: #323232;
  /* Dark button background */
  color: #ffffff;
  /* White text */
  border: 1px solid #5c5c5c;
  /* Slightly lighter border */
  padding: 8px 16px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #505050;
  /* Lighter on hover */
}

.tabs button {
  background-color: #424242;
  /* Dark tab background */
  color: #ffffff;
  /* White text */
  padding: 8px 16px;
}

.tabs button.active {
  background-color: #535353;
  /* Active tab */
}

.pod-image {
  width: 100%;
  /* Or the width you want */
  height: auto;
  /* Maintain aspect ratio */
}

.status-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  /* Semi-transparent white */
  padding: 5px;
  border-radius: 5px;
  /* Add more styling as needed */
}

.container {
  display: flex;
  flex-direction: row;
  /* This is default but can be explicitly set */
  justify-content: space-between;
  /* Adjust as necessary */
}


.main-content {
  flex: 1 1 70%;
  /* Takes up 2/3 of the container */
  padding: 10px;
}

.console h4,
p {
  font-size: 15px;
  margin: 7px;
}

/* Tab and Tab Content Styling */
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab-content {
  display: none;
  /* Hide all tab content by default */
}

.active-tab-content {
  display: block;
  /* Show the active tab content */
}

table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #3d3d3d;
  /* Darker lines for separation */
  padding: 6px;
  text-align: left;
  font-size: 12px;
}

th {
  background-color: #323232;
  /* Header background */
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #292929;
  /* Zebra striping for rows */
}


/* Responsive Design Adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .main-content,
  .side-panel {
    flex-basis: 100%;
  }
}


/* Additional Styling as needed */
/* Include styles for buttons, status overlay, pod image container, and any other specific styles you require */

.sensor-data-section h4 {
  margin: 5px;
  font-size: 14px;
}

.sensor-data-section h5 {
  padding: 0px;
  margin: 0;
}

.sensors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.allbarsdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gapHeightBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 25px;
  border: 2px solid #004aad;
  position: relative;
  margin: 0 8px;
  /* Increase margin to make room for labels */
  background-color: #f0f0f0;
}

.labelSide {
  position: absolute;
  writing-mode: vertical-lr;
  /* Orient the text vertically */
  transform: rotate(180deg);
  /* Optional: Rotate text for readability */
  left: -30px;
  /* Adjust based on the exact positioning you desire */
  top: 50%;
  transform: translate(-50%, -50%);
}

.valueIndicator {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

.barsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movingBar {
  width: 100%;
  /* Full width to fill the container */
  height: 4px;
  /* Thickness of the moving bar */
  background-color: #6495ED;
  /* Color of the moving bar */
  position: absolute;
}

/* Add this to your CSS file */
.numeric-column {
  min-width: 40px;
  /* Adjust as needed */
  text-align: right;
  /* Aligns numeric data to the right */
}

.disconnected-banner {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 5px;
}

.button-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 300px;
  flex-wrap: wrap;
}

/* Assuming hero-section is the flex container for col1 and col2 */
.hero-section {
  display: flex;
  justify-content: space-between;
  /* Adjusted to ensure no unwanted space */
  align-items: flex-start;
  width: 100%;
  /* Ensure the container takes full width */
}

.state-pills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0;
  background-color: #292929;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.state-pills-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.state-pill {
  padding: 5px 15px;
  color: #ccc;
  /* Light text for readability */
  border-radius: 5px;
  /* Rounded pills */
  cursor: pointer;
  transition: all 0.3s ease;
  /* Smooth transitions for interaction feedback */
}

.state-pill.active {
  color: #00ff11;
}


.half1 {
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Add margin to the right of col1 if needed, remove if not */
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.col2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* Add margin to the right of col1 if needed, remove if not */
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.errors-section {
  flex: 1;
  /* Take up one-third of the available space */
  margin-right: 20px;
  /* Add some spacing between sections */
}

.pod-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px 0;
}

.pod-status-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  /* Slightly darker for contrast */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* Optional: Adds depth */
  width: auto;
  /* Adjust width as needed */
}

.status-item {
  display: flex;
  align-items: center;
  color: #E0E0E0;
  /* Light text color */
}

.status-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-indicator.ok {
  background-color: #00FF00;
  /* Green for OK */
}

.status-indicator.error {
  background-color: #FF0000;
  /* Red for error */
}

.status-indicator.warning {
  background-color: #FFFF00;
  /* Yellow for warning */
}


/* Ensure the speed-acceleration-section container uses flexbox to layout its children */
.speed-acceleration-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  /* This distributes space evenly around each item */
  align-items: center;
  /* This centers the items vertically */
  width: 100%;
  /* Ensure it takes the full width of its parent to utilize space */
}

.progress-bars {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  /* This distributes space evenly around each item */
  align-items: center;
  /* This centers the items vertically */
  width: 100%;
  /* Ensure it takes the full width of its parent to utilize space */
}

.progress-bar {
  flex: 1;
  /* Allow each progress bar to grow as needed, sharing the space */
  margin: 0 10px;
  /* Optional: add some space between the dials */
  /* Adjust the margin as needed for your design */
}

/* If your progress bars are too wide or too narrow, you can adjust their flex-basis or add max-width */
.progress-bar {
  flex-basis: 100px;
  /* Example: Adjust based on your needs */
  max-width: 200px;
  /* Prevents the bar from becoming too wide */
}

.error-rectangle {
  width: 150px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.error-rectangle.grey {
  background-color: #ccc;
}

.error-rectangle.red {
  background-color: #ffcccc;
  border-color: #ff0000;
}

.error-message {
  margin-top: 5px;
  font-size: 12px;
  color: #ff0000;
}