body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Styling for the App container */
.App {
  text-align: center;
  padding: 20px;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Table styling */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

td,
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Additional styling for responsiveness and aesthetics */
.container {
  max-width: 1400px;
  margin: auto;
}

.sensor-data-section {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.sensors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.gapHeightBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  width: 30px;
  border: 2px solid #004aad;
  position: relative;
  margin: 0 10px;
  /* Increase margin to make room for labels */
  background-color: #f0f0f0;
}

.labelSide {
  position: absolute;
  writing-mode: vertical-lr;
  /* Orient the text vertically */
  transform: rotate(180deg);
  /* Optional: Rotate text for readability */
  left: -30px;
  /* Adjust based on the exact positioning you desire */
  top: 50%;
  transform: translate(-50%, -50%);
}

.valueIndicator {
  margin-top: 10px;
  font-size: 12px;
}

.barsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movingBar {
  width: 100%;
  /* Full width to fill the container */
  height: 4px;
  /* Thickness of the moving bar */
  background-color: #6495ED;
  /* Color of the moving bar */
  position: absolute;
}

/* Add this to your CSS file */
.numeric-column {
  min-width: 40px;
  /* Adjust as needed */
  text-align: right;
  /* Aligns numeric data to the right */
}

.disconnected-banner {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.navbar {
  display: flex;

}

.hero-section {
  display: flex;
  justify-content: space-between;
  /* Distribute space evenly between sections */
  align-items: flex-start;
  /* Align sections at the top */
}

.errors-section {
  flex: 1;
  /* Take up one-third of the available space */
  margin-right: 20px;
  /* Add some spacing between sections */
}

.pod-status-section {
  flex: 1;
  /* Take up one-third of the available space */
  margin-right: 20px;
  /* Add some spacing between sections */
}

.speed-acceleration-section {
  flex: 1;
  /* Take up one-third of the available space */
}

.error-rectangle {
  width: 150px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.error-rectangle.grey {
  background-color: #ccc;
}

.error-rectangle.red {
  background-color: #ffcccc;
  border-color: #ff0000;
}

.error-message {
  margin-top: 5px;
  font-size: 12px;
  color: #ff0000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sensors-container {
    flex-direction: column;
  }
}